<!-- <script src='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' /> -->

<div *ngIf = "lat && lng">

    <agm-map [latitude] = "lat" [longitude] = "lng" [zoom]="mapZoom" [maxZoom] = "12" [disableDefaultUI] = "bool" [streetViewControl]="false" [styles] = "mapStyle" (zoomChange) = "zoomChange($event)">
        <agm-data-layer [geoJson] = "Zones" (layerClick) = "onZoneClick($event)" [style] = "styleFunc" (parkedEvent) = "zoneParkingCommited(-1, $event)">
            <agm-overlay *ngFor= "let item of Zones.features" [latitude] = "latMid(item)" [longitude] = "lngMid(item)">
                <div class="layerSpots" *ngIf = "mapZoom>14" class="zoneInformation">{{item.properties.spots}}/100</div>
            </agm-overlay>
        </agm-data-layer>

        <div *ngIf = "parked">   
            <agm-marker [latitude] = "parkedLat" [longitude] = "parkedLng"></agm-marker>
        </div>
    </agm-map>

</div>

<!-- <div id="map" class="match-parent"></div> -->