<div class="centered-content">

  <img id="logo_img" src="assets/img/logo.png" width="150px" />

  <h2 id="title">OnSpot</h2>

  <form id="login_form">
    <div class="form-group">
      <input type="text" [(ngModel)]="phoneNumber" name="phoneNumber" class="form-control" placeholder="Número de Telefone">
    </div>

    <div class="form-group">
      <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Password">
    </div>

    <div *ngIf="invalidMessage; else elseBlock" class="alert alert-dismissible alert-danger">
      <strong>{{invalidMessage}}</strong>
    </div>

    <ng-template #elseBlock>
      <div class="alert alert-dismissible">
        <strong>AAAAAAAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAAAAAAAA</strong>
      </div>
    </ng-template>

    <button type="button" id="next_button" class="btn btn-primary" (click)="checkUser()">Entrar
    </button>
  </form>

  <div id="registerContainer">
    <h1 id="writtenQuestion">Não tens conta?</h1>
    <button class="writtenButton" routerLink="/registerAccount">Regista-te aqui!</button>
  </div>
</div>