<button mat-button class="backbutton" routerLink="{{backLink}}"><img src="assets/img/go_back_color.png" width="32px"
        color="#647c84" />Anterior</button>

<div class="centered-content">

    <h4 id="title">Saldo: {{userDetails.balance}}€</h4>
    <h4 id="discountDisclaimer">Introduza o valor que pretende descontar</h4>

    <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="numpad" mbsc-numpad-decimal
            [mbsc-options]="numpadSettings" placeholder="Valor" />
    </div>

    <button type="button" id="next_button" class="btn btn-primary" [routerLink]="['/confirmScreen']">Descontar
    </button>
</div>