<app-phone-header [rtLink] = "backLink" [title] = "title"></app-phone-header>
<div class="centered-content">
    <div id = "confirmHeader">
        <h1 id = "selectedZone">Alameda</h1>
        <td id = "parkingTime">1h20min</td>
        <td id = "zoneType">Zona Verde</td>
    </div>
    <div id = "moneyContainer">
        <div id = "parkingCost">1,20€</div>
        <div id = "discountButton" class="writtenButton">Quer Descontar?</div>
    </div>
    <div id = "confirmFooter">
        <h1 id = "paymentMethod">{{paymentMethod}}</h1>
        <h2 id = "alterar">Alterar</h2>
        <td>
            <button mat-button>Cancelar</button>    
            <button mat-button [routerLink] = "['/discountScreen']">Confirmar</button>
        </td>    
    </div>
</div>