<button mat-button class="backbutton" routerLink="{{backLink}}"><img src="assets/img/go_back_color.png" width="32px"
        color="#647c84" />Anterior</button>

<div class="centered-content">
    <h3 id="title">{{paymentInfo.zoneTitle}}</h3>

    <p class="parkInfo">{{paymentInfo.parkingTime}}</p>
    <p class="parkInfo">Zona {{paymentInfo.zoneColor}}</p>
    <p class="parkInfo">{{paymentInfo.price}}€</p>

    <button id="discount" type="button" class="btn btn-outline-secondary" [routerLink]="['/discountScreen']">Aplicar
        Desconto</button>

    <h3 id="paymentMethod">{{paymentMethod}}</h3>
    <button id="change" type="button" class="btn btn-link" [routerLink]="'/paymentMethod'">Alterar método de pagamento</button>

    <div class="buttons">
        <button id="cancelButton" type="button" class="btn btn-outline-primary" [routerLink]="['/defaultScreen']">Cancelar</button>
        <button id="nextButton" type="button" class="btn btn-primary" (click)="onConfirm()" [routerLink]="['/defaultScreen']" >Confirmar</button>
    </div>
</div>