<button mat-button class="backbutton" routerLink="{{rtLink}}"><img src="assets/img/go_back_color.png"
    width="32px" />Anterior</button>

<div class="centered-content">
  <h2 class="subtitle">Escolha o seu método de pagamento</h2>
  <tr>
    <button class="paymentButtons" (click)="paymentMethod = 'Cartão de Crédito'"
      [ngClass]="paymentMethod =='Cartão de Crédito' ? 'paymentButtonsActive' : 'paymentButtons'">
      <img class="buttonImage" src="assets/img/credit_card.png" />
      <h6 class="buttonText">Cartão de crédito</h6>
    </button>
    <button class="paymentButtons" (click)="paymentMethod = 'ePark'"
      [ngClass]="paymentMethod =='ePark' ? 'paymentButtonsActive' : 'paymentButtons'">
      <img class="buttonImage" src="assets/img/e_mel.png" />
      <h6 class="buttonText">ePark</h6>
    </button>
  </tr>
  <tr>
    <button class="paymentButtons" (click)="paymentMethod = 'MbWay'"
      [ngClass]="paymentMethod =='MbWay' ? 'paymentButtonsActive' : 'paymentButtons'">
      <img class="buttonImage" src="assets/img/mb_way.png" />
      <h6 class="buttonText">MB Way</h6>
    </button>
    <button class="paymentButtons" (click)="paymentMethod = 'Parquimetro'"
      [ngClass]="paymentMethod =='Parquimetro' ? 'paymentButtonsActive' : 'paymentButtons'">
      <img class="buttonImage" src="assets/img/parking_meter.png" />
      <h6 class="buttonText">Parquímetro</h6>
    </button>
  </tr>
  <button mat-raised-button [disabled]="!paymentMethod" type="button" class="continueButton"
    [ngClass]="!paymentMthod ? 'continueButton' : 'disabledContinueButton'" (click)="registerInformation()">
    <font color="white">Continuar</font>
  </button>
</div>