@import url('https://fonts.googleapis.com/css?family=Poppins');
body{
  font-family: "Poppins", sans-serif;
}

.centered-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-align: center;
  box-sizing: border-box;
  min-width: 335px;
  max-width: 100%;
  height:100%;
}

.titles{
  padding: 20px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 1000;
  text-align: center;
  min-width: 250px;
  max-width: 800px;
}

.centeredZone{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 335px;
  max-width: 1000px;
}

.loginMatFormField{
  font-family: "Poppins", sans-serif;
  width: 250px;
  margin-top: 22px;
  padding: 10px;
}

.bigButton{
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

  width: 100%;
  min-width: 100px;
  max-width: 200px;

}

.writtenButton{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;


  cursor: pointer;

  background: none;
  border: none;
  outline: none;
}

.writtenButton:active{
  color: 	#2c2f33;
  font-size: 14px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;

} 


#parkingButton {
  height: 50px;
  width: 100%;
  bottom: 20%;
  display: none;
  position: relative;
  background-color: #111;
  overflow-y: hidden;
}

#menuIcon{
  position: absolute;
  color: black;
  margin: 10px 0px 0px 0px;
  z-index: 1;
}

#sideMenu {
  font-family: "Poppins", sans-serif;

  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  color: #ffffff;
  background-color: #23272a;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 20px;
  opacity: 0.8;
}

#sideMenuProfile{
  padding: 8px 8px 8px 32px;
  margin-top: 25%;
  margin-bottom: 20px;
}

#userName {
  min-width: 210px;
  padding: 8px 8px 8px 0px;
  font-size:  26px;
  margin: 0px;
}
#discountText{
  min-width: 210px;
  padding: 8px 8px 8px 0px;
  margin: 0px;
  font-size: 16px;
}

#sideMenu a {
  text-decoration: none;
  font-size: 20px;
  color: #f1f1f1;
  display: block;
  min-width: 210px;
  transition: 0.1s;
  padding-left: 4%;
}

#sideMenuTabs{
  margin-bottom: 10px;
}

#sideMenuTabs h1{
  padding-left: 4%;
  min-width: 210px;
  margin-top: 40%;
  font-size: 14px;
}

hr.style1{
	border-top: 1px solid #8c8b8b;
}

#logoutButton {
  padding-left: 27.5%;
  margin-top: 35%;
  text-align: left;
  position: absolute;
  top: 20;
  font-size: 30px;
}

.smallText{
  font-size: 12px;
}

#parkButton{
  width: 80%;
  height: 40px;
  font-size: 1.2rem;
  background-color: #647c84;
  position: relative;
  margin-top: 2%;
  margin-left: 10%;
}

#scroll_image{
  margin-left: 21%;
}

#zoneText{
  text-align: center;
  width: 45vw;
  margin-top: 1%;
  margin-left: 27.5%;
}

#zoneInformations{
  align-content: center;
  width: 100%;
  height: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  height: 0;
  transition: .5s ease;
}

/* legend */
.Zonelegend {
  position: absolute;
  padding: 20px;
  padding-bottom: 40px;
  left:0;
  bottom:0;
  font-size: 10px;
  font-weight: 1000;
  font-style: italic;
  z-index: 1;
  color: #000;
  text-shadow: -0.5px -0.5px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

#legendTitle {
  font-size: 16px;
  font-style: normal;
}

.littleCircle {
  display: flex;
  flex-direction: row;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  margin-right: 5px; 
  margin-top: 1px;
}

#green{
  background-color: green;
}

#yellow{
  background-color: yellow;
}

#red{
  background-color: red;
}