@import url('https://fonts.googleapis.com/css?family=Poppins');
body{
  font-family: "Poppins", sans-serif;
}

.centered-content{
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-align: center;
  box-sizing: border-box;
  min-width: 335px;
  max-width: 100%;
  height:100%;
}

.titles{
  padding: 20px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 1000;
  text-align: center;
  min-width: 250px;
  max-width: 800px;
}

.centeredZone{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 335px;
  max-width: 1000px;
}

.loginMatFormField{
  font-family: "Poppins", sans-serif;
  width: 250px;
  margin-top: 22px;
  padding: 10px;
}

.bigButton{
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

  width: 100%;
  min-width: 100px;
  max-width: 200px;

}

.writtenButton{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;


  cursor: pointer;

  background: none;
  border: none;
  outline: none;
}

.writtenButton:active{
  color: 	#2c2f33;
  font-size: 14px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;

} 


#parkingButton {
  height: 50px;
  width: 100%;
  bottom: 20%;
  display: none;
  position: relative;
  background-color: #111;
  overflow-y: hidden;
}

#menuIcon{
  position: absolute;
  margin: 5px 0px 0px 15px;
}

#sideMenu {
  font-family: "Poppins", sans-serif;

  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  color: #ffffff;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 20px;
}

#sideMenuProfile{
  padding: 8px 8px 8px 32px;
  margin-bottom: 100px;

}

#userName {
  min-width: 210px;
  padding: 8px 8px 8px 0px;
  font-size:  26px;
  margin: 0px;
}
#discountText{
  min-width: 210px;
  padding: 8px 8px 8px 0px;
  margin: 0px;
}

#sideMenu a {
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  min-width: 210px;
  transition: 0.1s;
  margin-bottom: 30px;
}

#sideMenu a:hover {
  min-width: 210px;
  color: #818181;
}

#sideMenuTabs{
  padding: 8px 8px 8px 32px;
  margin-bottom: 10px;
}

#sideMenuTabs h1{
  min-width: 210px;
  margin-top: 150px;
}

#logoutButton {
  text-align: left;
  padding: 8px 8px 8px 32px;
  position: absolute;
  top: 20;
  font-size: 26px;
}

.smallText{
  font-size: 12px;
}

#parkButton{
  position: absolute;
  bottom: 20px;
  width: 330px;
}
