<div id="sideMenu">
  <div id="sideMenuProfile">
    <h1 href="" id = "userName">{{userDetails.name}}</h1>
    <h2 href="" id = "discountText" class="smallText">Saldo: {{userDetails.balance}}€</h2>
  </div>
  <div id = "sideMenuTabs">
    <hr class="style1">
    <a href="">Histórico</a>
    <hr class="style1">
    <a href="">Método de Pagamento</a>
    <hr class="style1">
    <a href="">Ajuda</a>
    <hr class="style1">
    <h1 class ="smallText"><i>Todos os valores apresentados são apenas previsões</i></h1>
  </div>
  <button mat-button id = "logoutButton" (click) = "userLogOut()" [routerLink]="['/login']">Logout</button>
</div>
<span style="font-size:30px;cursor:pointer" id = "menuIcon" (click)="openMenu()">
  <img src="assets/img/menu_icon.png" width="80px" />
</span>

<body (click) = "closeMenu()">
  <div class="centered-content">
    <div *ngIf = "!isSelected" class = "Zonelegend">
      <h1 id = "legendTitle">Zona: </h1>
      <div id = "greenZone">
        <tr>
          <td class="littleCircle" id = "green"></td>
          <td>Verde</td>
        </tr>
      </div>
      <div id = "yellowZone">
        <tr>
          <td class="littleCircle" id = "yellow"></td>
          <td>Amarela</td>
        </tr>
      </div>
      <div id = "redZone">
        <tr>
          <td class="littleCircle" id = "red"></td>
          <td>Vermelha</td>
        </tr>
      </div>
    </div>
    <app-map (messageEvent) = "receiveMessage($event)"></app-map>
    <div id="zoneInformations" >
        <span id="scroll_image" (click)="closeInformations()">
            <img id="scroll_image" src="assets/img/scroll_down.png" width="64px" (click)="closeInformations()"/>
        </span>
        <div id="zoneText">
          <div id="zoneTitle" style="font-size: 19px;">{{message.zoneTitle}}</div>
          <div id="zoneCharge">{{message.zoneCharge}}€/h</div>
          <div id="zoneColor">Zona {{message.zoneColor}}</div>
        </div>
        <button mat-raised-button (click) = "setZoneInformation()" id = "parkButton" class="btn btn-primary" [routerLink]="['/parkingTimeScreen']">Estacionar</button>
    </div>
  </div>
</body>