<div class="centered-content">
    <h2 id="registerTitle">
      Bem vindo à OnSpot
    </h2>

    <div id="register_form" class="form-group">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
    </div>
    
    <button id="next_button" type="button" class="btn btn-primary">Seguinte</button>
    <button class = "writtenButton" [routerLink]="['/']" routerLinkActive="router-link-active">Já tenho conta</button>
</div>
