<div class="centered-content">
    <h2 id="registerTitle">
      Bem vindo à OnSpot
    </h2>

    <form #userForm = "ngForm" id="register_form" class="form-group">
      <input class="form-control" placeholder="Nome" name = "name" ngModel required #nome = "ngModel">
      <input type="password" class="form-control" placeholder="Password">
      <input type="password" class="form-control" placeholder="Confirme Password">
    </form>
    
    <button id="next_button" type="button" class="btn btn-primary" (click) = "sendMessage(userForm)" [routerLink]="['/registerInformation']" routerLinkActive="router-link-active">Seguinte</button>
    <button id="writtenButton" class = "btn btn-link" [routerLink]="['/']" routerLinkActive="router-link-active">Já tenho conta</button>
</div>
